<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>[[${{pizza.nome}}]]</title>
</head>
<body class="container d-flex justify-content-center flex-wrap">
	
	<div th:object="${pizza}" class="container d-flex align-items-center flex-column m-5">
		
		<h2 class="py-2">[[*{nome}]]</h2>
		<span>Prezzo: [[*{prezzo}]] €</span>
		<span class="py-1">Descrizione: [[*{descrizione}]]</span>
		<img th:src="@{*{foto}}" th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
		
		<h4 class="py-2" th:if="*{offerte.size() > 0}">Offerte!</h4>
		<span th:each="offerta : *{offerte}" th:object="${offerta}">[[*{titolo}]]</span>
					
		<a th:href="@{/offerta/{id} (id = *{id})}" class="btn btn-secondary my-2">Aggiungi nuova offerta</a>
		
		<a 
	  		th:href="@{/}"
  	    	class="mt-1 btn btn-primary">
				HOME
		</a>
		
	</div>
	
</body>
</html>